/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:2f69d0b184f7c430678dd390abe944e7:251f5e08338c92553a6dae17d1c3f80e:1e9ea531edb030fd06c741d8d5dec72b$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(sprite.png);}

.pipe_1 {width:50px; height:50px; background-position: -2px -2px}
.pipe_2 {width:50px; height:50px; background-position: -2px -54px}
.pipe_3 {width:50px; height:50px; background-position: -2px -106px}
.pipe_4 {width:50px; height:50px; background-position: -54px -2px}
.pipe_5 {width:50px; height:50px; background-position: -54px -54px}
.pipe_6 {width:50px; height:50px; background-position: -54px -106px}
.pipe_7 {width:50px; height:50px; background-position: -106px -2px}
.pipe_8 {width:50px; height:50px; background-position: -158px -2px}
.pipe_9 {width:50px; height:50px; background-position: -106px -54px}
.pipe_end {width:50px; height:50px; background-position: -106px -106px}
.pipe_start {width:50px; height:50px; background-position: -158px -54px}
